.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}
body{
    background-color:#303030;
}